:root{
  --primary-color:#eb6f92:
  --secondary-color: antiquewhite;
  --ghost-white: #f2e9e1;
  --sunset-color: #f6c177;
  --secondary-color: #6e6a86;
  --black-color: #26233a;
}
*{
  margin: 0;
  padding: 0;
  background-color: var(--sunset-color)
}

/* header section starts from here  */
header{
  background-color: var(--ghost-white);
}

header nav {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--ghost-white);
}

header nav .nav_img {
  justify-content: center;
  align-items: center;
  background-color: var(--ghost-white);
  display: flex;
  gap: 10px;
}

header nav .nav_img,
headr nav .nav_img h1 {
  background-color: var(--ghost-white);
  font-size: 32px;
}

headr nav .nav_img h1 {
  background-color: var(--ghost-white);
}
header nav .nav_item {
  background-color: var(--ghost-white);
  display: inline;
}
header nav .nav_item ul{
  list-style: none;
  display: flex;
  align-items: center;
  background-color: var(--ghost-white);
  gap: 20px;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;

}
