<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/home.css" />
  <title>Santosh - home</title>
</head>

<body>
  <div class="navbar"></div>
  <div class="titleContainer">
    <div class="titleBox">
      <div class="titleLeft">
        <p class="titleTextBig">Santosh Shrestha (@santoshxshrestha)</p>
        <p class="titleTextSmall">I make cli stuff</p>
      </div>
      <div class="titleRight">
        <img src="x" alt="" />
      </div>
    </div>
  </div>
  <div class="footer"></div>
</body>

</html>
