<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/home.css" />
  <title>Santosh - home</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="profile-photo">
        <img src=".../static/images/x" alt="here is the mero photo" />
        <div class="photo-placeholder"></div>
      </div>
      <h1>Santosh Shrestha (@santoshxshrestha)</h1>
      <p class="title">dev programmar hacker what ever</p>
    </div>
    <p class="bio">Aila lai kai na lekham</p>
    <nav class="nav">
      <a href="#projects">Projects</a>
      <a href="#about">About</a>
      <a href="#contacts">Contact</a>
    </nav>

    <div class="contact">Contact</div>
    <div class="quick-links">
      <a href="email@gmail.com">meroemail@gmail.com</a>
      <a href="github ko link "> mero github ko link</a>
      <a href="linked in ko link "> linked in ta yetro ne use gardina</a>
    </div>
  </div>
</body>

</html>
