<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/projects.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
          <h1 class="info">Projects</h1>
        <div class="projects">
          {% if projects.is_empty() %}
          <p> No projects found. It might me some error while parsing</p>
          {% else %}{% for project in projects %}
          <div class="project">
            <h2>{{ project.name }}</h2>
            <p>{{ project. description }}</p>
            <p>
            <a href="{{ project.github_link }}">GitHub</a>
            <a href="{{ project.readme_link }}">Read all</a>
            </p>
          </div>
          {% endfor %}
          {% endif %}

        </div>

      </div>
    </div>
  </body>
</html>
